@model DotNetCoreApp.Helpers.PaginatedList<DotNetCoreApp.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="modal fade my-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="my-modal-content">
    </div>
  </div>
</div>

<p>
    <button id="nouveau-btn" class="btn btn-primary" data-toggle="modal" data-target=".my-modal">Nouveau</button>
</p>

<form class="form-inline my-2 my-lg-0">
    <p>
        <input name="SearchString" class="form-control mr-sm-2" type="text" placeholder="Recherche" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BirthDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                <a class="modifier-btn" data-toggle="modal" data-target=".my-modal" id="@item.ID" href="#">Modifier</a> |
                <a asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a 
    asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    class="btn btn-default @prevDisabled">
    Précédente
</a>
<a 
    asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    class="btn btn-default @nextDisabled">
    Suivante
</a>

@section Scripts {
    <script>
        $("#nouveau-btn").click(() => {
            $.get("/Clients/Create", function(data) {
                $("#my-modal-content").html(data);
            });
        });

         $(".modifier-btn").click((e) => {
            $.get("/Clients/Edit/" + e.target.id, function(data) {
                $("#my-modal-content").html(data);
            });
        });
    </script>
}
